<section class="admin-locked">
    <div>
        <h1>Acces reserve</h1>
        <p>Vous devez etre connecte en tant qu'administrateur pour acceder a cette page.</p>
        <a class="button button-primary" href="{{ path('app_login') }}">Se connecter</a>
    </div>
</section>
