{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div id="ajax-content" class="main-content">
    <!-- Le contenu sera chargé ici en AJAX -->
    <div class="loading-message">Chargement...</div>
</div>
{% endblock %}

